<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/indexstyling.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="customers.html">Customers</a>
        <a href="products.html">Products</a>
        <a href="orders.html">Orders</a>
        <a href="suppliers.html">Suppliers</a>
        <a href="orderitems.html">Order-Items</a>
    </div>
    <div class="header">
        <h1>BRUH TECH</h1>

        <p>Welcome to the BRUH Tech Homepage!</p>
    </div>

    <p>View and modify the list of customers</p>
    <h2><a href="customers.html">Customers</a></h2>

    <p>View and modify the list of products</p>
    <h2><a href="products.html">Products</a></h2>

    <p>View and modify the list of orders</p>
    <h2><a href="orders.html">Orders</a></h2>

    <p>View and modify the list of suppliers</p>
    <h2><a href="suppliers.html">Suppliers</a></h2>

    <p>View and modify the list of order-items</p>
    <h2><a href="orderitems.html">Order-Items</a></h2>

</body>

</html>