<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/ordersstyling.css">
    <meta charset="UTF-8">
    <title>Orders</title>
</head>

<body>
    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="customers.html">Customers</a>
        <a href="products.html">Products</a>
        <a href="orders.html">Orders</a>
        <a href="suppliers.html">Suppliers</a>
    </div>
    <div class="header">
        <h1>BRUH TECH</h1>
        <h2>Orders</h2>
        <p>This page is for adding orders to the database</p>
    </div>
    <table>
        <tr>
            <th colspan="3">Orders</th>
        </tr>
        <tr>
            <th>orderID</th>
            <th>customerID</th>
            <th>orderDate</th>
        </tr>
        {% for cell in order_data %}
        <tr>
            <td>{{ cell[0] }}</td>
            <td>{{ cell[1] }}</td>
            <td>{{ cell[2] }}</td>
        </tr>
        {% endfor %}

    </table>

    <form method="POST">
        <p>Add Order</p>
        <label for="customerID">Customer ID:</label>
        <input type="text" id="customerID" name="customerID"><br><br>
        <label for="orderDate">Order Date:</label>
        <input type="text" id="orderDate" name="orderDate"><br><br>
        <input type="submit" value="Add">
    </form>



</body>

</html>
