<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/productsstyling.css">
    <meta charset="UTF-8">
    <title>Products</title>
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="customers.html">Customers</a>
        <a href="products.html">Products</a>
        <a href="orders.html">Orders</a>
        <a href="suppliers.html">Suppliers</a>
        <a href="orderitems.html">Order-Items</a>
    </div>
    <div class="header">
        <h1>BRUH TECH</h1>
        <h2>Products</h2>
        <p>This page is for viewing products</p>
    </div>
    <table>
        <tr>
            <th colspan="4">Products</th>
        </tr>
        <tr>
            <th>productID</th>
            <th>productName</th>
            <th>productPrice</th>
            <th>productStock</th>
        </tr>
            {% for cell in data %}
            <tr>

            <td>{{ cell[0] }}</td>
            <td>{{ cell[1] }}</td>
            <td>{{ cell[2] }}</td>
            <td>{{ cell[3] }}</td>

            </tr>
            {% endfor %}
    </table>

    <form method="POST">
        <p>Add Product</p>
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name">
        <label for="price">Product Price:</label>
        <input type="text" id="price" name="price">
        <label for="stock">Product Stock:</label>
        <input type="text" id="stock" name="stock">
        <input type="submit" value="Add">
    </form>


    <form method="POST">
        <p>Update Product</p>
        <label for="productID">Product ID:</label>
        <select id="productID" name="productID">
          {% for entry in list_data %}
          <option value="{{entry[0]}}">{{entry[0]}}</option>
          {% endfor %}
        </select>
        <label for="updateName">Product Name:</label>
        <input type="text" id="updateName" name="updateName">
        <label for="updatePrice">Product Price:</label>
        <input type="text" id="updatePrice" name="updatePrice">
        <label for="updateStock">Product Stock:</label>
        <input type="text" id="updateStock" name="updateStock">
        <input type="submit" value="Update">
    </form>

</body>

</html>