<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/customersstyling.css">
    <meta charset="UTF-8">
    <title>Customers</title>
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="customers.html">Customers</a>
        <a href="products.html">Products</a>
        <a href="orders.html">Orders</a>
        <a href="suppliers.html">Suppliers</a>
    </div>
    <div class="header">
        <h1>BRUH TECH</h1>
        <h2>Customers</h2>
        <p>This page is for adding and removing customers from the database</p>
    </div>
    <table>
        <tr>
            <th>customerID</th>
            <th>customerEmail</th>
            <th>customerFirstName</th>
            <th>customerLastName</th>
            <th>customerAddress</th>
            <th>customerZip</th>
            <th>customerCity</th>
            <th>customerState</th>
            <th>customerPhone</th>
            <th>customerCitizenID</th>
        </tr>

        {% for cell in customer_data %}
        <tr>
            <td>{{ cell[0] }}</td>
            <td>{{ cell[1] }}</td>
            <td>{{ cell[2] }}</td>
            <td>{{ cell[3] }}</td>
            <td>{{ cell[4] }}</td>
            <td>{{ cell[5] }}</td>
            <td>{{ cell[6] }}</td>
            <td>{{ cell[7] }}</td>
            <td>{{ cell[8] }}</td>
            <td>{{ cell[9] }}</td>
        </tr>
        {% endfor %}
    </table>

    <form method="POST">
        <p>Add Customer</p>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address"><br><br>
        <label for="zip">Zipcode:</label>
        <input type="text" id="zip" name="zip"><br><br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city"><br><br>
        <label for="state">State:</label>
        <input type="text" id="state" name="state"><br><br>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone"><br><br>
        <label for="citizenID">Citizen ID:</label>
        <input type="text" id="citizenID" name="citizenID"><br><br>
        <input type="submit" value="Add">
    </form>

    <form id="delete" action="/delete">
        <p>Delete Customer</p>
        <label for="deletecustomerID">Customer ID:</label>
        <select id="deletecustomerID" name="deletecustomerID">
          {% for entry in list_data %}
          <option value="{{entry[0]}}">{{entry[0]}}</option>
          {% endfor %}<br><br>
        <input type="submit" value="Delete">
    </form>

</body>

</html>